1 ICON "../images/eca-rule-engine.ico"

1 VERSIONINFO
 FILEVERSION 2,1,0,0
 PRODUCTVERSION 2,1,0,0
 FILEFLAGSMASK 0x3F
 FILEFLAGS 0
 FILEOS 0x00040004
 FILETYPE 0x00000001
 FILESUBTYPE 0x00000000
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Rohin Gosling\0"
            VALUE "FileDescription", "ECA Rule Engine 2 Native Server\0"
            VALUE "FileVersion", "2.1.0\0"
            VALUE "InternalName", "eca-server\0"
            VALUE "LegalCopyright", "Copyright (c) 2026 Rohin Gosling\0"
            VALUE "OriginalFilename", "eca-server.exe\0"
            VALUE "ProductName", "ECA Rule Engine 2\0"
            VALUE "ProductVersion", "2.1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
